.main-title{
  text-align: center;
}

.main-list{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.aside-list{
  display: flex;
  justify-content: space-around;
}

.card-pokemon{
  border: 1px solid black;
  border-radius: 20px;
}